.DS_Store
Calisthenics.xcodeproj/project.xcworkspace/xcuserdata/jaredjones.xcuserdatad/UserInterfaceState.xcuserstate
Apple/Calisthenics.xcodeproj/project.xcworkspace/xcuserdata/jaredjones.xcuserdatad/UserInterfaceState.xcuserstate
